.hero{
    margin: 0 auto;
}
.IMG{
    width: 100%;
    border-radius: 10px;
}

.divSection{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.divText{
    max-width: 70ch;

}
.divText p{
    color: #d7d7d7;
}

